@import './common';

@mixin horizonMiddle {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes start {
  0% {
    opacity: 0;
    letter-spacing: 15px;
    font-size: 3rem;
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
    letter-spacing: 0;
    font-size: 6rem;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background: url('../../img/background.jpg') repeat-y center center fixed;
  background-size: cover;
}

#header {
  width: 100%;
}
.header__container {
  font-family: 'Quantico', sans-serif;
  font-size: 2rem;
  color: rgb(143, 142, 142);
  width: 100%;
  height: 1400px;
  background: url('../../img/mars-planet.png') no-repeat;
  background-attachment: scroll;
  background-position: bottom 500px center;
  position: relative;
}

.header__title {
  color: rgb(202, 104, 59);
  @include horizonMiddle;
  top: 23%;
  animation: start 1.4s ease-in both;
  animation-delay: 1s;
}

.d-day__container {
  @include horizonMiddle;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: opacity 2s ease-in both;
  animation-delay: 3s;
}

.d-desc {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
.d-day {
  color: #ddd;
  font-size: 3rem;
  display: block;
  margin-bottom: 10px;
}

.d-date {
  font-size: 1.6rem;
}

.sol__container {
  @include horizonMiddle;
  top: 35%;
  opacity: 0;
  animation: opacity 2s ease-in both;
  animation-delay: 2.2s;
}

.sol {
  color: #aaa;
}
