html {
  scroll-behavior: smooth;
}

.nav__container {
  position: fixed;
  left: 3%;
  top: 10%;
  z-index: 99;
}

.nav__list li {
  margin-bottom: 25px;
}

.nav-btn {
  box-sizing: border-box;
  display: inline-block;
  padding: 5px;
  border: 2px solid gray;
  width: 25px;
  height: 25px;
  transform: rotate(90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  font-family: 'Quantico', sans-serif;
  color: #fff;
  background-color: transparent;
}
